@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    text-align: justify;
}
body {
    background-image: linear-gradient(to left, #BFAE8E 1%, #F2DDB6);
}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #594328;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #d38320;
    text-align: center;
    text-shadow: 1px 1px 3px #633d0bd2;
}
h2 {
    color: #8C6E49;
    
}